<div class="container">
  <h1>Lista Piattaforme</h1>
  <ul>
    @for (piatta of piattaforma; track piatta.id) {
    <li
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 5px;
      "
    >
      <span style="flex-grow: 1"
        >{{ piatta.nome }} - {{ piatta.produttore }}</span
      >
      <button
        type="button"
        (click)="deletePiattaforma(piatta.id)"
        style="
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          border: 1px solid black;
          color: black;
          border-radius: 4px;
          cursor: pointer;
          font-weight: bold;
        "
        title="Rimuovi questa piattaforma"
      >
        X
      </button>
    </li>
    }
  </ul>
</div>
