<button (click)="openModal()">Crea Nuova Piattaforma</button>

<app-modal [isOpen]="isModalOpen" (closed)="onModalClosed()">
  <div class="container">
    <h2>Crea una Nuova Piattaforma</h2>
    <form (ngSubmit)="createPiattaforma()">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input
          type="text"
          id="nome"
          class="form-control"
          [(ngModel)]="newPiattaforma.nome"
          [ngModelOptions]="{ standalone: true }"
          name="nome"
          required
        />
      </div>
      <div class="form-group">
        <label for="produttore">Produttore:</label>
        <input
          type="text"
          id="produttore"
          class="form-control"
          [(ngModel)]="newPiattaforma.produttore"
          [ngModelOptions]="{ standalone: true }"
          name="produttore"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Crea Piattaforma</button>
    </form>
  </div>
</app-modal>
